:root {
  --color-principal:#6fad3e;
  --color-contraste: #F0A202;
  --color-muted:#1D263B;
  --color-texto: #1d1d1d;
  --color-claro:#EDFFEC;
  --color-traslucido:rgba(255, 255, 255, 0.25);
  --color-contraste-traslucido:rgba(240,162,2,0.35);  

  --fuente-titulos:  'Poppins', sans-serif;
  --fuente-italic:  'Poppins', sans-serif;
  --fuente-otra:  'Poppins', sans-serif;

}
*{
  box-sizing: border-box; /* calcula automaticamente paRA QUE NO HAYA SCROLL HORIZONTAL*/
  padding:0;
  margin: 0;
}

html{
  font-size: 65.5%;
  /* esta linea indica que un REM es igual a 10px* lo que nos permite usar el rem como unidad de medida estandar para todo el proyecto */
}
/*AGREGAR ESTA PARTE Al inicio de  TODOS LOS ARCHIVOS CSS*/
/* usar rem como unidad de edida para las dimensiones no spermite tener un mejor control del tamaño*/
body{
  font-size: 1.6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: var(--color-muted);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', 'Actor', sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 4rem;
}
h3{
  font-size: 3.5rem;
}
h4 {
  font-size: 3rem;
}
 h5 {
  font-size: 2.5rem;
}
 h6 {
  font-size: 2rem;
}
p{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.6rem;
}
.centrar{
  text-align: center;
}
p a.fuente{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  text-align: end;
}

.container{
  width: 95%;
  background-color: var(--color-principal);
  color:var(--color-texto);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: 
  "encabezado encabezado"
  "principal lateral"
  "rodapie rodapie";
}
header{
  padding: 1.5rem 0;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  grid-area: encabezado;
  align-items: center;
}
.logoImg{
  padding-left: 1.5rem;
}
.navbar{
  justify-content: end;
  font-size: 2rem;
  font-family: 'Cabin', 'Actor', sans-serif;
  text-transform: uppercase;
}
.nav-link{
  margin: 0 0 0 3rem;
}
.navbar-nav {
  --bs-nav-link-color: var(--color-claro); 
  --bs-nav-link-hover-color: var(--color-contraste);
}
main {
  grid-area: principal;
  background-color: var(--color-claro);
  min-height: 75vh;
  margin-right: 0.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.banner{
  width:100%;
  height: 25rem; 
  overflow: hidden;
  position: relative;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.8rem 1.2rem #1d1d1d;
  margin-bottom: 2rem;
  
}
 .bannerImg {
  object-fit: cover;
  width:100%;
  height: 100%;
  min-height: 25rem;  
  filter: grayscale(1);
  position: relative;
 }
 .bannerImg:hover{ 
  /*cuando el cursor pasa por el texto se pierde el efecto hover 
  ¿como se soluciona?*/
  filter: none;
 }
.txtBanner{
  color: var(--color-principal);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  transition: 0.5s;
}
.txtBanner h2{
  font-size: 5rem;
  font-weight: 900;
  /* text-shadow: 2px 2px 1px rgb(240,162,2); */
  text-shadow: 3px 3px 1px rgb(19, 19, 19);
}
/* hacer hover a un elemento y aplicar efecto sobre otro elemento*/
/*tutorial https://www.youtube.com/watch?v=UeQyNsX-23E*/

.historiaHub{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "titulo titulo"
  "foto textof"
  "texto texto";
  column-gap: 1.5rem;
}
.historiaTitulo{
  grid-area: titulo;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.historiaImg{
  grid-area: foto;
  width:100%; 
  height: 22.5rem;
  overflow: hidden;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
 
.historiaImgCover {
  /* en 1398px pierde la linea con el segundo py la recupera en 992 con @mediaScreen y se rompe debajo de los 400px*/
  object-fit: cover;
  object-position: 0 0;
  width:100%;
  height: 100%;
  min-height: 25rem; 
  position: relative;
 }
.historiaTxt1{
  grid-area: textof;
}
.historiaTxt2{
  grid-area: texto;
}
aside {
  grid-area: lateral;
  background-color: var(--color-contraste);
  margin-left: 0.5rem;  
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction:column;
  align-content: center;
  justify-content: space-between;

}
.asideBanner{
  background-color: var(--color-traslucido);
  height: 23%;
  border-radius: 0.3rem;
  /*padding:1rem;*/
  
}
.asideBanner .bannerImg{
  filter: none;
}
.asideBanner .txtBanner h2{
  color:var(--color-texto);
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 3px 3px 1px rgb(240,162,2); 
  /*text-shadow: 3px 3px 1px rgb(19, 19, 19);*/
}

footer {
  grid-area: rodapie;
}
.cooperativas{
  width: 70%;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}
.coopCard{
  width: 15rem;
  text-align: center;
  
}
.coopCard a {
  text-decoration: none;
  color:var(--color-texto)
}
.coopCard a img{
  padding: 1rem;
  font-size: 1.2rem;
}
footer h5{
  font-size: 1.2rem;
  font-weight: 700;
}




@media screen and (max-width:991px) {
  .container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "encabezado encabezado"
    "principal principal"
    "lateral lateral"
    "rodapie rodapie";
  }
  main {
    margin-right: 0;
  }
  .historiaHub{
    display:block;
  }
  .historiaImg{
    height: 60%;
  }
  aside{
    margin-left: 0;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .asideBanner{
    width: 47%;
    min-height: 25rem;
  }
  
}