:root {
  --color-principal:#6fad3e;
  --color-contraste: #F0A202;
  --color-muted:#1D263B;
  --color-texto: #221D23;
  --color-claro:#EDFFEC;
  --color-traslucido:rgba(255, 255, 255, 0.25);  

  --fuente-titulos:  'Poppins', sans-serif;
  --fuente-italic:  'Poppins', sans-serif;
  --fuente-otra:  'Poppins', sans-serif;

}
*{
  box-sizing: border-box; /* calcula automaticamente paRA QUE NO HAYA SCROLL HORIZONTAL*/
  padding:0;
  margin: 0;
}

html{
  font-size: 65.5%;
  /* esta linea indica que un REM es igual a 10px* lo que nos permite usar el rem como unidad de medida estandar para todo el proyecto */
}
/*AGREGAR ESTA PARTE Al inicio de  TODOS LOS ARCHIVOS CSS*/
/* usar rem como unidad de edida para las dimensiones no spermite tener un mejor control del tamaño*/
body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: var(--color-muted);
}
.container{
  width: 95%;
  background-color: var(--color-principal);
  color:var(--color-texto);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: 
  "encabezado encabezado"
  "principal lateral"
  "rodapie rodapie";
}
header{
  padding: 1.5rem 0;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  grid-area: encabezado;
}
.navbar{
  justify-content: end;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.nav-link{
  margin: 0 0 0 3rem;
}
.navbar-nav {
  --bs-nav-link-color: var(--color-claro); 
  --bs-nav-link-hover-color: var(--color-contraste);
}
main {
  grid-area: principal;
  background-color: var(--color-claro);
  min-height: 75vh;
  margin-right: 0.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

aside {
  grid-area: lateral;
  background-color: var(--color-contraste);
  margin-left: 0.5rem;  
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction:column;
  align-content: center;
  justify-content: space-between;

}
.asideBanner{
  background-color: var(--color-traslucido);
  height: 23%;
  border-radius: 0.3rem;
  padding:1rem;
  
}

footer {
  grid-area: rodapie;
}
.cooperativas{
  width: 70%;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}
.coopCard{
  width: 10rem;
  text-align: center;
}
.coopCard a img{
  padding: 1rem;
}