:root {
  /* paleta de colores: https://coolors.co/91c06c-d6e8c8-5fa429-f4f9f0-0f0f0f*/
  --color-principal:#5FA429;
  --color-contraste: #91C06C;
  --color-muted:#0F0F0F;
  --color-texto: #1d1d1d;
  --color-claro:#D6E8C8;
  --color-blanco:#F4F9F0;
  --color-traslucido:#ffffff40;
  --color-contraste-traslucido:#91c06c40;  

  --fuente-titulos:  'Poppins', sans-serif;
  --fuente-italic:  'Poppins', sans-serif;
  --fuente-otra:  'Poppins', sans-serif;

}

/*ESTILOS DE LA PAGINA INDEX generado como partial scss**/
/* ESTILO DE LA PAGINA pUNTOS RECOLECCION  generado como partial scss*/
/* ESTILO DE LA PAGINA GUIA DE SEPARACION  no logré que funcione como scss*/

.materialImg{
display: flex;
flex-direction: column;

}
.fotoMaterial {
  margin-bottom: 3.5rem;
  margin-top: 1rem;
} 
.tabNavLink{
color:var(--color-texto);
text-transform: uppercase;
--bs-nav-link-color: var(--color-claro); 
--bs-nav-link-hover-color: var(--color-contraste);  
}
.navTabs .tabNavLink.active  {  
  font-weight: 600;
  color: var(--color-texto);
  background-color:var(--color-principal);
  border-color: var(--color-principal) var(--color-principal) var(--color-texto);
  }


/* ESTILO DE LA PAGINA COMUNIDAD  generado como partial scss*/
/* ESTILO DE LA PAGINA CONTACTO   generado como partial scss*/


