
aside {
    grid-area: lateral;
    background-color: $color-contraste;
    margin-left: 0.5rem;  
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: space-between;
    .asideBanner{        
        width:100%;
        height: 25rem;
        overflow: hidden;
        position: relative;
        box-shadow: $box-shadow-oscuro;
        margin-bottom: 2rem;
        background-color: $color-traslucido;        
        border-radius: 0.3rem;
        transition: 1s;
        /*padding:1rem;*/
        a{
            .bannerImg{   
                object-fit: cover;
                width:100%;
                height: 100%;
                min-height: 25rem;  
                position: relative;             
            }
            .txtBanner{
                color: $color-texto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                transition: 1s;
                h2{
                    font-size: 3rem;
                    font-weight: 900;
                    text-shadow: 3px 3px 1px  $color-principal; 
                }
            }
        }
        &:hover{
            transform: scale(1.02); 
            transition: 0.5s;             
        }
    }
}
  
 