footer {
    grid-area: rodapie;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        padding-top: 1.5rem;
    }
    .cooperativas{
        width: 70%;
        margin:0 auto;
        display: flex;
        justify-content: space-evenly;
        padding: 1.5rem;
        .coopCard{
            width: 15rem;
            text-align: center;
            &:hover{
                transition: 1.5s;
                transform: scale(1.1);
            }
            .iconoCoop {
                text-decoration: none;
                color:$color-texto;
                img{
                    width: 9rem;
                    padding: 1rem;
                    font-size: 1.2rem;
                }
                h5{
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
        }
    }
    .copyright{
        text-align: center;
        padding: 1rem;
        width: 101%;
        background-color: $color-oscuro-traslucido;
        a {
            color: $color-blanco;
        }

    }
}
  