.materiales{
    display: flex;
    flex-direction: column;
    .tabMateriales{
        .navTabs{
            .tabNavItem{
                .tabNavLink {
                    color: $color-texto;
                    text-transform: uppercase;
                    --bs-nav-link-color: $color-claro;
                    --bs-nav-link-hover-color: $color-contraste;
                    &.active{
                        font-weight: 600;
                        color: $color-texto;
                        background-color:$color-principal;
                        border-color: $color-principal $color-principal $color-texto;
                    }
                    &:hover, &:focus{ /* este estilo no se esta aplicando, ver que pasa*/
                        color: $color-principal;
                        font-weight: bold;
                    }                    
                }
                
            }
        }
        /* .tabContent{
            .tabPane{
                .tituloMaterial{}
                .contenidoMaterial{}
                .materialInfo{}
            }
        } */

    }
}