.historiaHub{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "titulo titulo"
  "foto textof"
  "texto texto";
  column-gap: 1.5rem;
  .historiaTitulo{
    grid-area: titulo;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    
  }
  .historiaImg{
    grid-area: foto;
    width:100%; 
    height: 22.5rem;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 2rem;
    .historiaImgCover{
       /* en 1398px pierde la linea con el segundo py la recupera en 992 con @mediaScreen y se rompe debajo de los 400px*/
      object-fit: cover;
      object-position: 0 0;
      width:100%;
      height: 100%;
      min-height: 25rem; 
      position: relative;
    }
  }
  .historiaTxt1{
    grid-area: textof;
    p{}
  }
  .historiaTxt2{
    grid-area: texto;
    .InfoSource{
      text-align: end;      
      .fuente{
        font-size: inherit;
        text-decoration: none;
        font-style: italic;
        color: $color-texto;
        &:hover{
          color: $color-principal;
        }
      }
    }
    
  }
}
@media screen and (max-width:768px){
  .historiaHub{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "titulo "
    "foto"
    "textof"
    "texto";
    .historiaImg{
      width:50%; 
      margin: 0 auto;
      margin-bottom: 2rem;
      
    }
  }
  
}
